<p1>Welcome <%= @user.username %></p1><br>
<p1>You have been logged in <%= @user.count %> times</p1>
<div>
	<form name="input" action="/users/logout" method="post">
		<input type="submit" name="logout" value="Logout" />
	</form>
</div>