<div class="center hero-unit">
	<p1>Welcome <%= @user.username %></p1><br>
	<p1>You have been logged in <%= @user.count %> times</p1>
	<div>
		<form name="input" action="/users/logout" method="post">
			<input type="submit" name="logout" value="Logout" />
		</form>
	</div>
	<div>
		<form action="" method="POST">
			<script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_wvYUk5PPjIAdONX10zM9nR7P"
			    data-amount="2000"
			    data-name="Demo Site"
			    data-description="2 widgets ($20.00)"
			    data-image="/128x128.png">
			</script>
		</form>	
	</div>
	<div>
		<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<form id="checkout" method="post" action="/checkout">
			<div id="dropin"></div>
			<input type="submit" value="Pay $10">
		</form>
	</div>
</div>